.TemaplateImg{
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .2);
}
.TemaplateImg:hover{
    transform : scale(1.02);
    cursor: pointer;
}
.form_input {
    width: 100%;
    padding-left: 10px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid rgb(185, 185, 185);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.textarea_input{
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid rgb(185, 185, 185);
    resize: none;
}
label:hover{
    cursor: pointer;
}